# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
.env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Logs
*.log
logs/

# Data and Models
# Data
data/raw/
data/processed/
data/
datasets/
models/
*.h5
*.pkl
*.csv
makefile

# Configs
.env
config.yaml
secrets.json

# Build
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db


# Compiled libraries
*.so
*.a
*.o
*.dll
*.lib

# Build directories
build/
dist/
*.egg-info/

*.whl
ta-lib/





